
<section class="section">
  <div class="columns">
    <div class="column is-4 is-offset-2">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://fakeimg.pl/1280x960/?text=VIP" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://fakeimg.pl/96x96/?text=CCH" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">VIP 會員</p>
              <p class="subtitle is-6">USD <%= ENV['price_vip'] %></p>
            </div>
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris. 
          </div>
          <%= link_to "購買", payment_users_path(type: 'vip'), class: 'button is-danger is-fullwidth' %>

         
        </div>
      </div>      
    </div>

    <div class="column is-4">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://fakeimg.pl/1280x960/?text=Platinum" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://fakeimg.pl/96x96/?text=CCH" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">白金會員</p>
              <p class="subtitle is-6">USD <%= ENV['price_platinum'] %></p>
            </div>
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
          </div>
          <%= link_to "購買", payment_users_path(type: 'platinum'), class: 'button is-success is-fullwidth' %>

        </div>
      </div>
    </div>
  </div>
</section>