<div data-controller="demo">
    <input type ="text" data-target="demo.content">
    <button data-action="demo#pushme">按我</button>
</div>

<div data-controller="demo">
    <input type ="text" data-target="demo.content">
    <button data-action="demo#pushit">按它</button>
</div>


